<html>

    <head>
        <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Do+Hyeon|Jua|Nanum+Gothic|Sunflower:300" rel="stylesheet">
    </head>
    <body>
        <p style="font-family: 'Do Hyeon', sans-serif; font-size: 15pt">
            알아두면 쓸데는 없는 코인명언
        </p>
        <p style="font-family: 'Nanum Gothic', sans-serif;">
            • 가즈아 = 안감<br/>
            • 가보즈아 = 바램<br/>
            • 슬금슬금오른다 = 안오름<br/>
            • 기사 출발합니다 = 10원오름<br/>
            • 와 존나 오른다 = 20원오름<br/>
            • 움찔하네요 = 안움직임<br/>
            • OO 슬슬 시동 거네요 = 배터리 나감<br/>
            • 심상치 않네요 = 아무 일 없음<br/>
            • 오늘 OO가겠네요 = 무조건 안감<br/>
            • 오늘 OO시원하게 쏠 것 같은 느낌 = 느낌으로 끝<br/>
            • 지금 타도 안늦었나요? = 늦음<br/>
            • 들어오라고 꼬시네요 = 타면 좆됨<br/>
            • 윤정희 = 평단세계챔피언<br/>
            • 떡락한다 = 10원내림<br/>
            • 대피하라 = 20원내림<br/>
            • 존버 = 고점에 물림<br/>
            • 존버 = 지구 맨틀까지 하락<br/>
            • 욕심없는 익절 = 개떡상<br/>
            • 씹장투 해야지 = 최고점에 물림<br/>
            • 적당한 손절 = 바로 반등<br/>
            • 쎄하네요 = 쎄충<br/>
            • 김영길 = 포도<br/>
            • 떡락할꺼 같네요 = 떡락중<br/>
            • 리플 만원 비트 1억가자 = 무조건 매도<br/>
            • 계속 오르네요 ㄷㄷ 어디까지 갈까요 형님들 = 익절타이밍<br/>
            • 개미털기 당한 흑우없제 = 하락장<br/>
            • 알트 초특가 세일 줍줍 하세요 = 아직 하락장<br/>
            • ㅈ 됐습니다. 살려주세요 = 매수 타이밍<br/>
            • 단타 = 100만원 먹을 수 있는거 2만원 먹음<br/>
            • 장투 = 사자마자 내려서 지금 -20%임<br/>
            • 손절 = 고점에 쳐물려 어쩔 수 없이 탈출(-30%이상)<br/>
            • 가치투자 = 지금 손절할 수도 있지만 본전이 되어야 팔 예정<br/>
            • 익절 = 흔치 않은 수익<br/>
        </p>
        




    </body>
</html>

<br/><br/>
