<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Do+Hyeon|Jua|Nanum+Gothic|Sunflower:300" rel="stylesheet">
    </head>
    <body>
        <p style="font-family: 'Nanum Gothic', sans-serif;">
            나눔고딕입니다.
        </p>
        <p style="font-family: 'Sunflower', sans-serif;">
            선플라워입니다.
        </p>
        <p style="font-family: 'Do Hyeon', sans-serif;">
            도현체입니다.
        </p>
    </body>
</html>

<br/><br/>

<%= @coins %>